{% extends 'base.html' %}
{% load static %}


 



{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      {% for author in authors %}
        <h1>{{ author.author_name }}</h1>
        <h2>{{ author.title }}</h2>
      {% endfor %}
      <a href="{% url 'about' %}" class="btn-about">About Me</a>
    </div>
  </section><!-- End Hero -->
{% endblock content %}
