{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
        {% for service in services %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <img src="{{ service.service_images.url }}" alt="">
              <h4><a href="">{{ service.service_title }}</a></h4>
              <p>{{ service.service_details }}</p>
            </div>
          </div>
          {% endfor %}  
        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  {% endblock %}